---
- name: "update apt package."
  become: yes
  apt:
    update_cache: yes
 
- name: "update packages"
  become: yes
  apt:
    upgrade: yes
    
- name: "Remove dependencies that are no longer required"
  become: yes
  apt:
    autoremove: yes   
   
    
- name: "Install Dependencies"
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: Install pm2
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates Directory
  become: yes
  file:
    path: ~/backend
    state: directory
    mode: 0755

- name: Copy backend dist files web server
  become: yes
  copy:
    src: ~/project/artifact.tar.gz
    dest: ~/backend/artifact.tar.gz

- name: Uncompress Backend
  become: yes
  shell: |
    cd ~/backend
    tar -vxf artifact.tar.gz
    
- name: Build
  shell: |
    cd ~/backend
    npm install
    pm2 stop default    
    pm2 start npm -- run start
    cd dist
    pm2 start main.js --update-env
